.events-grid{
  display: grid;
}

.events-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  flex-direction: row;
  width: 100%;
  }
  
  .event {
    flex-basis: calc(33.33% - 10px); /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust spacing between rows */
    margin-left: 20px; /* Adjust spacing between rows */
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
  }
  
  .project:hover {
    background-color: #f0f0f0;
  }
  
  .project h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
  }
  
  .project p {
    margin: 5px 0;
    color: #666;
  }
  
  .tasks-section {
    margin-top: 15px;
  }
  
  .task-button {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .task-button:hover {
    background-color: #e6e6e6;
  }
  
  .task-details {
    display: flex;
    justify-content: space-between;
  }
  
  .task-details p {
    margin: 0;
  }
  
  .task-details {
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
  }
  
  .task-status-done {
    background-color: green;
    color: white;
  }
  
  .task-status-in-progress {
    background-color: yellow;
    color: black;
  }
  
  .task-status-on-hold {
    background-color: grey;
    color: white;
  }
  
  .task-status-canceled {
    background-color: red;
    color: white;
  }
  