.Container {
    display: flex;
    flex-direction: row;
  }
  
.nonSelectable {
    user-select: none; /* Standard syntax */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* Internet Explorer/Edge */
}