.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  background-color: #f9f9f9;
}

.controls {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.weekContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  max-height: 85vh;
}

.button {
  flex: 1;
  background-color: #d8d8d8;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.event {
  margin-top: 2px;
  padding: 2px 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.7rem;
}

.event:hover {
  background-color: #e2e2e2;
}

.gridweek {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-x: auto;
  gap: 10px;
  width: 100%;
  max-width: 100%;
}

.dateCell {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dateCell:hover {
  background-color: #f4f4f4;
}

.today {
  border: 2px solid #e8cc77;
  background-color: #fffbea;
}

.todayweek {
  border: 2px solid #e8cc77;
}

.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(126, 43, 43);
  border: 1px solid black;
  padding: 20px;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

.eventTitle {
  font-size: 0.7em;
  border: 2px;
  border-bottom: #ccc;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.timeLegend {
  display: flex;
  flex-direction: column;
  background: #f0f0f0;
  width: 50px;
}

.timeLabel {
  height: 100%;
  padding: 2px;
  width: 6vw;
  max-width: 6vw;
  border-bottom: solid 1px #c6c6c6;
  box-sizing: border-box;
}

.dayLegend {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  height: fit-content;
  width: 100%;
  max-width: 100%;
  background: #f0f0f0;
}

