.NavBar {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.NavBar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.NavBar button:hover {
    background-color: #0056b3;
}

.NavBar button:active {
    background-color: #004085;
}
