/* App.css */

.Container {
  display: flex;
  flex-direction: row; /* Aligns nav and Home side by side */
  height: 100vh; /* Full viewport height */
  box-sizing: border-box;
  overflow: hidden;
}

.errorMessage {
  color: #D8000C; /* Red color for error messages */
  background-color: #FFD2D2; /* Light red background */
  padding: 10px 20px;
  border-radius: 8px;
  margin: 10px 0;
  border: 1px solid #D8000C;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

nav {
  flex: 1; /* Takes 1 part of the flex space */
  background-color: #333;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack links vertically */
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 5px 0;
  background-color: #555;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

nav a:hover {
  background-color: #777;
}

.Home {
  flex: 8;
  padding: 10px;
  width: 10vw;
  overflow-y: auto;
  background-color: #f4f4f4;
  box-sizing: border-box;
  overflow: auto;
} 



/* Optional: Basic styling reset for body to remove default margin/padding */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}
